.back {
  margin-left: -90%;
  margin-top: 3rem;
}
.container {
  width: 100%;
  margin-top: 3rem;
  .country-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 2%;
    width: 100%;
    .flags {
      width: 30%;
      img {
        width: 400px;
        height: 300px;
      }
    }
    .container-detail {
      .container-text {
        display: flex;
        flex-direction: row;
        gap: 50px;
        .left {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .right {
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }
    }
  }
  .border-box {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    .border {
      border: 1px solid;
      border-radius: 8px;
      padding: 10px;
    }
  }
}

// ipad
@media only screen and (max-width: 1260px) and (min-width: 950px) {
  .back {
    margin-left: -50%;
  }
  .container {
    width: 90%;
    .country-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 90%;
      @media only screen and (max-width: 1500px) {
        gap: 3px;
      }
      .flags {
        margin-top: 30px;
        margin-right: 10px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .container-detail {
        .container-text {
          display: flex;
          flex-direction: row;
          .left {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
          .right {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }

    .border-box {
      margin-top: 5px;
      flex-wrap: wrap;
      align-content: stretch;
      gap: 2px;
      width: 90%;
      .border {
        border: 1px solid;
        border-radius: 8px;
        padding-top: 10px;
      }
    }
  }
}

// phone
@media only screen and (max-width: 950px) {
  .back {
    margin-left: -50%;
  }
  .container {
    width: 90%;
    .country-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-top: 10%;
      width: 90%;
      .flags {
        img {
          width: auto;
          height: 150px;
        }
      }
      .container-detail {
        .container-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 50px;
          .left {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
          .right {
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }
    .border-box {
      margin-top: 5px;
      flex-wrap: wrap;
      align-content: stretch;
      gap: 2px;
      width: 90%;
      .border {
        border: 1px solid;
        border-radius: 8px;
        padding-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .back {
    margin-left: -50%;
  }
  .container {
    .country-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      margin-top: 10%;
      width: 90%;
      margin-left: 5%;
      .flags {
        width: 100%;
        img {
          width: 100%;
          height: 150px;
        }
      }
      .container-detail {
        .container-text {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .left {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
          .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
      .border-box {
        margin-top: 5px;
        flex-wrap: wrap;
        align-content: stretch;
        gap: 5px;
        width: 90%;
        margin-left: 5%;
        .border {
          border: 1px solid;
          border-radius: 8px;
          padding: 10px;
        }
      }
    }
  }
}
