.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 5px;
  width: 100%;
  // background-color:hsl(207, 26%, 17%);
  .search-container {
    display: flex;
    flex-direction: row;
    gap: 20%;
    width: 100%;
    margin-top: 3rem;
    .search {
      margin-top: 6px;
      width: 60%;
    }
    .dropdownButton {
      width: 30%;
      display: flex;
      flex-direction: row;
      gap: 5%;
      .sort {
        padding: 0;
        margin-top: 5px;
        float: left;
      }
    }
  }
  .country-container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    padding: 2px;
    .country {
      flex: 25%;
      width: 250px;
      height: 360px;
      margin: 10px;
      .card {
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
      .card:hover {
        box-shadow: 5px 5px 5px 5px #888888;
      }
    }
  }
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  margin-top: 15px;
}

@media only screen and (max-width: 1260px) and (min-width: 601px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 5px;
    width: 100vw;
    padding-left: 0%;
    padding-right: 0%;
    .body-content {
      width: 100%;
      margin: 0px;
      align-items: center;
      .search-container {
        display: flex;
        flex-direction: row;
        gap: 15%;
        width: 90%;
        margin-left: 10%;
        .search {
          margin-top: 6px;
          width: 45%;
        }
        .dropdownButton {
          width: 25%;
          display: flex;
          flex-direction: row;
          gap: 5%;
          .sort {
            padding: 0;
            margin-top: 5px;
            float: left;
          }
        }
      }
      .country-container {
        display: inline-flex;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: center;
        margin-top: 3%;
        margin-left: 0%;
        min-width: 100%;
        max-width: 100%;
        .country {
          margin: 10px;
          flex: 20%;
          width: 250px;
          height: 360px;

          @media only screen and (max-width: 955px) {
            margin: 5px;
          }
          .card {
            height: 100%;
            width: 100%;
            border-radius: 8px;
          }
        }
      }
    }
    .pagination {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 30px;
      margin-top: 15px;
    }
  }
}
// phone
@media only screen and (max-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    .search-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5%;
      width: 100%;
      .search {
        width: 100%;
      }
      .dropdownButton {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5%;
        .sort {
          padding: 0;
          margin-top: 5px;
          float: left;
        }
      }
    }
    .country-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 0px;
      .country {
        width: auto;
        height: 360px;
        .card {
          margin-left: -20px;
          width: 280px;
          border-radius: 8px;
        }
      }
    }
    .pagination {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1px;
      margin-top: 50px;
    }
  }
}
