* {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    line-height: 25px;
    position: absolute;
    top: 0px;
    width: 100%;
    margin-bottom: 2rem;

    // box-shadow: 0.60em 0.60em 0.2em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    z-index: 120;

    .logo {
      padding: 20px;
      font-weight: bold;
    }
    button {
      padding: 15px;
      font-weight: bold;
      margin-right: 1rem;
      margin-top: 1rem;
    }
  }
}

// phone
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 50px;
      line-height: 25px;
      width: 100vw;
      .logo {
        padding: 10px;
        font-weight: bold;
      }
      button {
        padding: 10px;
        margin: 5px;
        font-weight: bold;
      }
    }
  }
}
