#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  /* padding: 2rem; */
  text-align: center;
}
.container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url("./assets/images/bg-stars.svg");
}

/* .container img {
  width: auto;
  padding-bottom: 0;
  margin-bottom: 0;
} */

.times {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.times div {
  width: 150px;
  height: 150px;
  line-height: 150px;
  /* background-color: #7851a9; */
  background-image: linear-gradient(#462d65, #9000ff);
  font-size: 60px;
  color: hsl(345, 95%, 68%);
  border-radius: 8px;
}
.ket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.ket div {
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 1360px;
  background-image: url("./assets/images/pattern-hills.svg");
  background-repeat: no-repeat;
  height: 200px;
  margin-left: -40px;
  margin-bottom: -110px;
  margin-top: 90px;
}
.footer img {
  margin-top: 100px;
  width: 30px;
  height: 30px;
}
/* ===================================================================================== */

@media only screen and (max-width: 600px) {
  #root {
    max-width: 400px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
  }
  .container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url("./assets/images/bg-stars.svg");
  }

  .container img {
    width: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .times {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .times div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #7851a9;
    font-size: 30px;
  }
  .ket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .ket div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    font-size: 12px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 420px;
    background-image: url("./assets/images/pattern-hills.svg");
    background-repeat: no-repeat;
    height: 200px;
    margin-left: -10px;
    margin-bottom: -140px;
    margin-top: 150px;
  }
  .footer img {
    margin-top: 100px;
    width: 25px;
    height: 25px;
  }
}

/* =============================================================================================================================== */

@media only screen and (max-width: 400px) {
  #root {
    max-width: 200px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
  }
  .container {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url("./assets/images/bg-stars.svg");
  }

  .container img {
    width: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .times {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  .times div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #7851a9;
    font-size: 20px;
  }
  .ket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }
  .ket div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    font-size: 12px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 400px;
    background-image: url("./assets/images/pattern-hills.svg");
    background-repeat: no-repeat;
    height: 200px;
    margin-left: -100px;
    margin-bottom: -140px;
  }
  .footer img {
    margin-top: 100px;
    width: 25px;
    height: 25px;
  }
}
